<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Ads click fraud detection</title>
  <style>
      body {
          font-family: Arial, Helvetica, sans-serif;
      }

      .container {
          width: 100%;
          margin: auto;
          /*background-color: aqua;*/
          /* border: 1px solid gray; */
      }
  </style>
</head>
<body>
<div class="container">
  <!-- <div class="header"></div> -->
  <div class="content">
    <p>
      Hi <b th:text="${adsAlert.groupName}">Ads</b> Team, <br/><br/>
      We have detected that the event timestamp gap between Sojourner and Ads(BES) on <b th:text="${adsAlert.dt}">2022-04-11</b> is <b th:text="${#numbers.formatPercent(adsAlert.value, 1, 3)}">0.021%</b>, which exceeds the threshold <b th:text="${#numbers.formatPercent(adsAlert.threshold, 1, 2)}">0.02%</b>.
    </p>
    <br/>
    <p>
      You can visit <a href="https://tdq.vip.ebay.com/dashboard/main">tdq-dashboard</a> for more detailed information.
      <br/><br/><br/>
      Thanks, <br/>
      DL-eBay-Tracking-Behavior-Data
    </p>
  </div>
  <!--  <div class="footer"></div>-->
</div>
</body>
</html>